@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  very-dark-gray: hsl(0, 0%, 17%);
  dark-gray: hsl(0, 0%, 59%);
}
* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}
header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.upper-box {
  display: flex;
  flex-direction: column;
  background-image: url("images/pattern-bg-desktop.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.upper-box-inital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 28px;
  font-weight: 700;
}

.info-box {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: white;
  border-radius: 1.5rem;
  max-width: 80%;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 2rem;
}
.info-box-para {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.info-box-head {
  font-size: 1rem;
  color: #555;
  text-align: center;
}

#map {
  height: 40rem;
  z-index: 0;
  overflow-y: hidden;
}
.lower-box {
  flex-grow: 1;
}

form {
  display: flex;

  align-items: center;
  gap: 10px;

  padding: 20px;
  border-radius: 10px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.loading-spinner {
  border: 8px solid white;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: none;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the spinner is on top */
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff6961;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Add media queries for responsiveness */
@media (max-width: 600px) {
  form {
    width: 90%;
  }
  .info-box {
    flex-wrap: wrap;
    gap: 3rem;
    top: 2rem;
    max-width: 50%;
  }
}
