@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  very-dark-gray: hsl(0, 0%, 17%);
  dark-gray: hsl(0, 0%, 59%);
}
* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.dark-mode {
  background-color: black;
  color: white;
}

header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.upper-box {
  display: flex;
  flex-direction: column;
  background-image: url("images/pattern-bg-desktop.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.upper-box-inital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 28px;
  font-weight: 700;
}

.info-box {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: white;
  border-radius: 1.5rem;
  max-width: 80%;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 2rem;
}
.info-box-para {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.info-box-head {
  font-size: 1rem;
  color: #555;
  text-align: center;
}

#map {
  height: 40rem;
  z-index: 0;
  overflow-y: hidden;
}
.lower-box {
  flex-grow: 1;
}

form {
  display: flex;

  align-items: center;
  gap: 10px;

  padding: 20px;
  border-radius: 10px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff6961;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Add media queries for responsiveness */
@media (max-width: 600px) {
  form {
    width: 90%;
  }
  .info-box {
    flex-wrap: wrap;
    gap: 3rem;
    top: 2rem;
    max-width: 50%;
  }
}

/* Container for Dark Mode Toggler */
.switch {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 40px; 
  /* Change Height and width of the container here */
  width: 100px;
  height: 50px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 50px;
  width: 56px;
  left: 6px;
  background-image: url('./images/sun.svg');
  background-repeat: no-repeat;
  transition: 0.4s;
  border-radius: 16px;
}


input:checked + .slider::before {
  transform: translateX(40px);
  background-image: url('./images/moon.svg');
  width: 50px;
  height: 45px;
  bottom: 3px;
}

input:checked + .slider {
  background-color: black;
}

/* Made the slider responsive */
@media (max-width: 600px) {
  .switch {
    top: 24px;
    right: 10px;
    width: 50px;
    height: 30px;
  }

  .slider:before {
    width: 30px;
    height: 30px;
    left: 2px;
  }

  input:checked + .slider::before {
    transform: translateX(20px);
    background-image: url('./images/moon.svg');
    width: 40px;
    height: 25px;
    bottom: 3px;
  }
}
